{
  "singleQuote": true,
  "arrowParens": "always",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "endOfLine": "lf",
  "jsxSingleQuote": true,
  "printWidth": 85,
  "quoteProps": "consistent",
  "useTabs": false,
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": false
}
